* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg,#ff0000 0%, #00ff00 100%);
    font-size: 16px;
  }
  
  .container {
    text-align: center;
    max-width: 100vw;
    width: 50%;
    background-color: rgb(64, 128, 48);
    margin: 1.5rem auto;
    box-shadow: 0.8rem 0.8rem 1.6rem rgba(0, 0, 0, 0.13);
    padding: 1.5rem;
    font-weight: 700;
    border-radius: 2rem;
}
  
h1 {
  font-size: 2rem;
  margin: 1rem 0 1.5rem;
  line-height: 1;
}
p {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
}
  
  span {
    font-size: 1.5rem;
  }

  #input-field {
    width: 50%;
    height: 5rem;
    margin: 1rem auto;
    font-size: 3.5rem;
    border: 3px solid rgb(108, 237, 153);
    display: block;
    border-radius: 1rem;
    padding: 0.8rem;
    outline: none;
}
  
  button {
    background-color: #e1fcea;
    width: 50%;
    border-radius: 3rem;
    font-size: 1.8rem;
    border: none;
    padding: 1rem 0;
    margin: 1rem auto 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

/* .button{
  background-color: #e1fcea;
  width: 50%;
  border-radius: 3rem;
  font-size: 1.8rem;
  border: none;
  padding: 1rem 0;
  margin: 1rem auto 1.5rem;
} */

  #guess {
    font-size: 2rem;
    color: rgb(249, 249, 249);
  }

  #newGame {
    background-color: #e1fcea;
    width: 70%;
    padding: 0.8rem;
    text-align: center;
    border: none;
    margin: auto;
    border-radius: 2.5rem;
    cursor: pointer;
}

#newGame:hover {
    background-color: #bdd4c5
}
  
  @media screen and (max-width: 600px), (max-width: 759.99px) {
    .container {
      width: 90%;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 1.3rem;
  }
  #input-field{
      width: 60%;
      height: 3rem;
      font-size: 2rem;
  }
  button {
    width: 60%;
    font-size: 1rem;
}
#newGame {
  width: 60%;
  font-size: 1.2rem;
  }
}

@media screen and (max-width: 450px){
  #newGame {
    width: 65%;
    }
}

@media screen and (max-width: 350px), (max-width: 400px){
  #newGame {
    width: 80%;
    }
}